body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    background-color: #19374A;
}

.leftH{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
}

.leftH p{
    color: #fff;
    font-size: 20px;
    width: 350px;
    margin: 0px;
}

.rightH{
    display: flex;
    justify-content: end;
    width: 425px;
    margin-left: 400px;
}

.rightH img{
    margin-left: 20px;
}

.adm img{
    margin-top: -20px;
}

.firstPart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.cont-left{
    height: 250px;
    width: 35px;
    border-radius: 4px 200px 200px 4px;
    background-color: #19374A;
    align-items: center;
    display: flex;
    justify-content: center;
}

.H1 {
    font-size: 24px;
    color: #19374A;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.all{
    margin-top: 70px;
}

.accordion {
    background-color: #19374A;
    color: #fff;
    font-size: 18px;
    width: 1650px;
    height: 80px;
    border: 1px solid #fff;
    margin-right: 100px;
}

.active, .accordion:hover {
    background-color: #19374A;
}

.panel {
    max-height: 0;
    overflow: hidden;
}

.accordion:after {
    content: '\002B'; /* Код Юникода для символа "плюс" (+) */
    color: #fff;
    font-size: 18px;
    float: right;
    margin-left: 4px;
}
  
  .active:after {
    content: "\2212"; /* Код Юникода для символа "минус" (-) */
}

.H2{
    font-size: 16px;
    font-weight: 700;
    color: #19374A;
}

.text{
    color: #19374A;
    margin-top: -15px;
}

.footer{
    background-color: #19374A;
    height: 300px;
    color: #fff;
}

.connection{
    display: flex;
    justify-content: space-around;
}

.corp{
    display: flex;
    justify-content: center;
}

.tPhone{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 12px;
}

.firstCorp{
    margin-right: 20px;
    font-size: 12px;
    margin-left: 100px;
}

.secondCorp{
    border-left: solid 1px white;
    padding-left: 20px;
    font-size: 12px;
}

.leftCon h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.rightCon h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.SN{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightCon p{
    font-size: 12px;
}

h4{
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}